@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);

      /* dark mode color elevation */
    --color-dark-dp-0: #000000;
    --color-dark-dp-1: #121212;
    --color-dark-dp-2: #1E1E1E;
    --color-dark-dp-3: #2A2A2A;
    --color-dark-dp-4: #333333;
    --color-dark-dp-5: #3D3D3D;
    --color-dark-dp-6: #474747;

    /* light mode color elevation */
    --color-light-dp-0: #FFFFFF;
    --color-light-dp-1: #FAFAFA;
    --color-light-dp-2: #F5F5F5;
    --color-light-dp-3: #EEEEEE;
    --color-light-dp-4: #E0E0E0;
    --color-light-dp-5: #D6D6D6;
    --color-light-dp-6: #CFCFCF;

    --color-primary: #194486;
    --color-secondary: #102c56;
    --color-accent: #0d0d0d;
}

@layer components{
    .text-heading1{
        @apply font-bold text-6xl;
    }

    .text-heading2{
        @apply font-normal text-5xl;
    }

    .text-heading3{
        @apply font-normal text-4xl;
    }

    .text-heading4{
        @apply font-normal text-3xl;
    }

    .text-heading5{
        @apply font-normal text-2xl;
    }

    .text-body-big{
        @apply font-normal text-xl;
    }

    .text-body-big-bold{
        @apply font-bold text-xl;
    }

    .text-body{
        @apply font-normal text-base;
    }

    .text-body-bold{
        @apply font-bold text-base;
    }

    .text-sm-bold{
        @apply font-bold text-sm;
    }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
